JSFundamentals/.idea/inspectionProfiles/profiles_settings.xml
JSFundamentals/.idea/inspectionProfiles/Project_Default.xml
.idea/JSCore.iml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/watcherTasks.xml
.idea/vcs.xml
.idea/misc.xml